%form{:role => "form"}
  .form-group
    %label{:for => "email"} Enter the routes name:
    %input#email.form-control{:type => "email"}
  .checkbox
    %label
      %input{:type => "checkbox"} Remember me
  %button.btn.btn-default{:type => "submit"} Submit