%table.table
  %thead
    %tr
      %th #
      %th Firstname
      %th Lastname
      %th Age
      %th City
      %th Country
  %tbody
    %tr
      %td 1
      %td Anna
      %td Pitt
      %td 35
      %td New York
      %td USA