= form_for @organization, url: organization_path(@organization), method: :put,html: {class: "nifty_form", :role => "form"} do |f|
  = render 'organizations/shared/form', :f => f
  = f.submit "Edit", class: 'btn btn-defaul'